/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(45deg, #f6c745 50%, #000000 50%);
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #f6c745;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

/* Sticky Navbar Styles */
nav.sticky {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
}

nav ul li a:hover, nav ul li a:focus {
    color: #49bfe2;
}

/* Main Content Styles */
main {
    padding: 3rem 0;
}
.section-container {
    padding: 1rem;
    max-width: 1200px;
    margin: 20px auto; /* Add top and bottom margin for spacing */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: to add some depth */
    /* Rest of your styles */
}
/* Fullscreen image styles */
.full-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#about-image {
    background-image: url('49bfe2a2669b4afbefb8ee67fe35ab2055843760_high.jpeg'); /* Replace with your actual image path */
}

#lifecycle-image {
    background-image: url('HixjyeXYJCrSDVGkZTmprP-1200-80.jpg'); /* Replace with your actual image path */
}

#diversity-image {
    background-image: url('360_F_415614634_OsdEprDBBu9I47nIjqLPJ8oWuecPfp9t.jpg'); /* Replace with your image path */
}

#behavior-image {
    background-image: url('BTY3X6LSCJFHJG7PEKJAOK6AFY.jpg'); /* Replace with your image path */
}

#importance-image {
    background-image: url('Honey-bee-with-messy-antennae.jpg'); /* Replace with your image path */
}

#threats-image {
    background-image: url('Honey_bee_pillars.jpg'); /* Replace with your image path */
}

#conservation-image {
    background-image: url('bee-hero.jpg'); /* Replace with your image path */
}

#protection-image {
    background-image: url('_104493752_c0240717-cape_honey_bee_on_coastal_ragwort-spl.jpg'); /* Replace with your image path */
}


/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive styling */
@media (max-width: 768px) {
    .nav-wrapper, .header-content, .section-container {
        padding: 1rem;
    }

    nav ul li {
        display: block;
        margin-bottom: 0.5rem;
    }
}
